
<html>
     <head> 
     	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
     	<link rel='stylesheet' href='/stylesheets/style.css' />
     	
     	  <title><%= title %></title>
     </head>
     <body>
        <header class="centralizar">
            <h1 class="titulo">Memórias</h1>           
        </header>
        <section id="quadro">
			<table id="quadro-mario" class="centralizar" border="1">			  
			    <tr>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			    <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			      <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
					<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			     <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			    <tr>
			    	<td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			        <td class="lugar"></td>
			    </tr>
			    <!-- <tr>
			    	<td class=""><image src="assets/img/planta-carnivora.png"</td>
			    </tr> -->

			</table> 
		</section>         

		<div class="form-popup" id="beerCapForm">
		  <form action="/cadastrar" method="POST" class="form-container">
		    <h1>Informações</h1>

		    <label for="date">Data:</label>
		    <input type="date" name="date" required>

		    <label for="beerName">Nome da Cerveja:</label>
		    <input type="text" placeholder="Nome da cerveja" name="beerName" required>

		    <label for="comments">Comentários:</label>
		    <input type="text" placeholder="Escreva algo para lembrar desse momento :) " name="comments" required>

		    <label for="beerCapcolor">Cor da tampinha:</label>
		    <input type="color" id="beerCapColor" name="beerCapcolor" required >

		    <button type="submit" id="saveForm" class="btn" onclick="closeeForm()">Salvar</button>
		    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		  </form>
		</div>

        <footer>
            <p>Todos os direitos reservados.</p>
        </footer>

        <script src="assets/js/tampinhas.js"></script>
     </body> 
  </html>
</html>
